

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 80%;
  padding: 8px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

img {
  max-width: 100%;
  max-height: 400px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(143, 62, 62, 0.2);
}
